@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer utilities {
  .meu-container {
    background-color: beige;
  }

  .meu-container h1 {
    font-size: 40px;
    font-weight: bolder;
    color: red;
  }
}
